* {
    margin: 0;
    padding: 0;
}

#header {
    margin-top: 10px;
    width: 100%;
    overflow: hidden;
    height: 100px;
    position: relative;
}

nav {
    top: -20px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 20px auto;
    max-width: 1000px;
    width: 90%;
}

nav ul {
    list-style: none;
}

nav>ul {
    display: table;
    /*Quitamos el overflow hidden que estaba aqui*/
    width: 100%;
    background: #000;
    position: relative;
}

nav>ul li {
    display: table-cell;
}


/*Sub-menu*/

nav>ul>li:hover>ul {
    display: block;
    height: 100%;
}

nav>ul>li>ul {
    display: block;
    position: absolute;
    background: #000;
    left: 0;
    right: 0;
    overflow: hidden;
    height: 0%;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

nav>ul li a {
    color: #fff;
    display: block;
    line-height: 20px;
    padding: 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

nav>ul>li>ul>li a:hover {
    background: #fb0d0d;
}

nav>ul>li>a span {
    background: #174459;
    display: block;
    height: 100%;
    width: 100%;
    left: 0;
    position: absolute;
    top: -55px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

nav>ul>li>a span .icon {
    display: block;
    line-height: 60px;
}

nav>ul>li>a:hover>span {
    top: 0;
}


/*Colores*/

nav ul li a .primero {
    background: #0e5061;
}

nav ul li a .segundo {
    background: #5da5a2;
}

nav ul li a .tercero {
    background: #f25724;
}

nav ul li a .cuarto {
    background: #174459;
}

nav ul li a .quinto {
    background: #37a4d9;
}

nav ul li a .sexto {
    background: #1cd00d;
}

nav ul li a .septimo {
    background: #17d6b8;
}

nav ul li a .octavo {
    background: #e21010;
}

nav ul li a .noveno {
    background: #c106d6;
}

#wrapper {
    width: 975px;
    margin: auto;
}

p {
    width: 80%;
    font-family: justify;
}

#aside #tituloA:first-letter {
    font-size: 60px;
    color: red;
    font-weight: bold;
}

h1 {
    text-shadow: 5px 6px 6px #000000;
    color: black;
    font-family: arial;
    font-size: 20px;
}

#contenedor {
    width: 975px;
}

header, #contenedor, footer, #logo {
    float: left;
    margin: 0px;
    padding: 0px;
    width: 975px;
}

section {
    float: left;
    text-align: justify;
    margin-left: 45px;
    width: 65%;
    height: 100%;
    font-size: 14px;
    color: #4D4647;
}

section p{
  font-family: arial;
  text-align : justify;
  width: 80%;
}

aside {
    text-align: justify;
    float: right;
    width: 30%;
    height: 100%;
}

#admin {
    width: 80%;
    height: 150px;
}

body{
  display: flex;
  min-height: 10vh;
  flex-wrap: wrap;
}

footer {
    align-self: flex-end;
    background-color: #000;
    width: 100%;
    height: 100px;
}

#direccion {
    width: 975px;
    height: 15%;
    float: left;;
    background-color: black;
    color: white;
    font-size: 15px;
    text-align: center;
}

#redessociales {
    margin-top: 35px;
    width: 65%;
    float: left;
    height: 60%;

    text-align: right;
    color: white;
    font-size: 35px;
    position: relative;
}

#avisoredes {
    width: 35%;
    float: right;
    height: 60%;
}

.social_bookmarks_container {
    margin-top: 30px;
    width: 100%;
    height: 65px;
    padding: 0;
    position: relative;
}

.social_bookmarks {
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
}

.social_bookmarks li {
    margin: 0 0 1px 1px;
    height: 57px;
    width: 57px;
    list-style: none;
    float: left;
    padding: 0;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.social_bookmarks li a {
    float: left;
    width: 57px;
    line-height: 24px;
    display: block;
    text-indent: -99999px;
    margin: 0px;
    outline: none;
    padding: 0;
    min-height: 57px;
    height: 100%;
    text-decoration: none;
}

.social_bookmarks .iconrss {
    background: #A4A4A4 url(http://lh6.googleusercontent.com/-s8sIx3OX2WI/U4vC1nmgr0I/AAAAAAAALK4/W3Z3qXMwrCg/s114/icon-rss.png) top left no-repeat;
}

.social_bookmarks .iconrssmail {
    background: #BDBDBD url(http://lh5.googleusercontent.com/-H4iUybdCAyU/U4vC1yQWu1I/AAAAAAAALLE/fTpR7eN4cIw/s114/icon-rssmail.png) top left no-repeat;
}

.social_bookmarks .icontwitter {
    background: #D8D8D8 url(http://lh6.googleusercontent.com/-4TshwJW7hIE/U4vC2JM25AI/AAAAAAAALLI/tcIkpheXrYU/s114/icon-twitter.png) top left no-repeat;
}

.social_bookmarks .iconfacebook {
    background: #E6E6E6 url(http://lh5.googleusercontent.com/-nt-UdZG1ns0/U4vC1v57lwI/AAAAAAAALLQ/pAOWjEBSnSg/s114/icon-facebook.png) top left no-repeat;
}

.social_bookmarks .icongplus {
    background: #F1F1F1 url(http://lh6.googleusercontent.com/-brT53y4GgMs/U4vC1UPpmFI/AAAAAAAALK8/vRxosS7GGKs/s114/icon-gplus.png) top left no-repeat;
}

.social_bookmarks .iconfacebook:hover {
    background-position: center -57px;
    background-color: #37589b;
}

.social_bookmarks .icontwitter:hover {
    background-position: center -57px;
    background-color: #46d4fe;
}

.social_bookmarks .icongplus:hover {
    background-position: center -57px;
    background-color: #de5a49;
}

.social_bookmarks .iconrss:hover {
    background-position: center -57px;
    background-color: #ff6600;
}

.social_bookmarks .iconrssmail:hover {
    background-position: center -57px;
    background-color: #FFDE00;
}

.social_bookmarks li:hover a {
    background: transparent url(http://lh4.googleusercontent.com/-XNviZ_JqvyU/U4vDMDFAX8I/AAAAAAAALLk/E4VIJr1onlo/s57/icon-social-reflect.png) no-repeat;
}

#intercontener {
    background-color: black;
    width: 80%;
}

/*COMENTARIOS*/
.titular-comentario {
    margin: 0.3em;
    padding-bottom: 4px;
    padding-left: 0.2em;
}

.titular-comentario {
    height: 60px;
    width: 500px;
    overflow: hidden;
    padding: 5px 5px 0 !important;
}

.esquinas {
    -moz-border-radius: 4px 4px 4px 4px;
}

.contenido-comentario {
    background: url("images/fondotitulo.png") repeat-x scroll 50% 50% #222222;
    border: 1px solid #191919;
    color: #EEEEEE;
    font-weight: bold;
}

.fondo_mensaje {
    background-color: #eeeeee;
    height: 100%;
    width: 520px;
    overflow: hidden;
    padding: 2px 2px 0 !important;
    margin-left: 100px;
}

.texto_mensaje {
    font-family: "Lucida Sans Unicode";
    font-size: 12px;
    text-align: justify;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}
