<!-- 2016-09-29 -->
<!doctype HTML>
<html>
  <head>
  	<meta charset="utf-8">
  	<title>CPWEB y Asociados</title>
    <link rel="stylesheet" href="../css/main.css" media="screen" title="no title">
    <!-- <link rel="stylesheet" href="../css/flat.css" media="screen" title="no title"> -->
  	<link rel="stylesheet" type="text/css" href="../css/fonts.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script><!-- 2016-10-13 -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>
  <body background="../images/fondo.jpg">
  	<div id="wrapper">
  		<header>
  			<div id="enlaces">
  				<a href="en">English Version</a>
  			</div>
  			<div id="logo">
  				<img src="../images/banner.jpg" alt="error">
  			</div>
  		</header>
      <div id="header">
        <nav>
    			<ul class="navegacion">
    				<li><a href="index.php"><span class="primero"><i class="icon icon-home"></i></span> Inicio</a></li>
            <li>
    					<a href="#"><span class="septimo"><i class="icon icon-newspaper"></i></span>Catálogo</a>
    					<ul>
    						<li><a href="estados.php">Estados</a></li>
    						<li><a href="clientes.php">Clientes</a></li>
                <li><a href="tipos.php">Tipo Clientes</a></li>
    					</ul>
    				</li>
            <li>
    					<a href="#"><span class="octavo"><i class="icon icon-newspaper"></i></span>Administración</a>
    					<ul>
    						<li><a href="roles.php">Roles</a></li>
    						<li><a href="privilegios.php">Privilegios</a></li>
                <li><a href="usuarios.php">Usuarios</a></li>
                <li><a href="usuario_rol.php">Usuarios - Roles</a></li>
    					</ul>
    				</li>
    				<li><a href="quienes_somos.php"><span class="segundo"><i class="icon icon-office"></i></span> Info</a></li>
    				<li>
    					<a href="#"><span class="tercero"><i class="icon icon-newspaper"></i></span>Servicios</a>
    					<ul>
    						<li><a href="asesoria_legal.php">Asesor&iacutea</a></li>
    						<li><a href="auditoria.php">Auditor&iacutea</a></li>
    						<li><a href="contabilidad.php">Contabilidad</a></li>
    						<li><a href="nomina.php">Nomina</a></li>
    						<li><a href="planeacion_financiera.php">Planeaci&oacuten Financiera</a></li>
    					</ul>
    				</li>
    				<li><a href="alianzas.php"><span class="cuarto"><i class="icon icon-users"></i></span> Alianzas</a></li>
    				<li><a href="bolsa_trabajo.php"><span class="quinto"><i class="icon icon-books"></i></span> Bolsa</a></li>
            <li>
    					<a href="#"><span class="noveno"><i class="icon icon-newspaper"></i></span>Cuenta</a>
    					<ul>
                <li><a href="login.php">Login</a></li>
    						<li><a href="login.php?accion=logout">Logout</a></li>
    					</ul>
            </li>
    				<li><a href="contacto.php"><span class="sexto"><i class="icon icon-profile"></i></span> Contacto</a></li>
    			</ul>
    		</nav>
      </div>
