<page>
    <h1>
        {$titulo}
    </h1>
    <table class="table table-hover">
        <tr>
            <th>
                ID*
            </th>
            <th>
                Razón Social*
            </th>
            <th>
                Fecha*
            </th>
            <th>
                Id Servicio
            </th>
            <th>
                Precio
            </th>
            <th>
                Cantidad
            </th>
            <th>
                Servicio
            </th>
            <th>
                Total Servicio*
            </th>
            <th>
                Total*
            </th>
        </tr>
        {foreach $v_cotizacions as $cotizacion}
        <tr>
            <td>
                {$cotizacion.id_cotizacion}
            </td>
            <td>
                {$cotizacion.razon_social}
            </td>
            <td>
                {$cotizacion.fecha}
            </td>
            <td>
                {$cotizacion.id_servicio}
            </td>
            <td>
                {$cotizacion.precio}
            </td>
            <td>
                {$cotizacion.cantidad}
            </td>
            <td>
                {$cotizacion.servicio}
            </td>
            <td>
                {$cotizacion.total_servicio}
            </td>
            <td>
                {$cotizacion.total}
            </td>
        </tr>
        {/foreach}
    </table>
    <h1>
        {$titulo}
    </h1>
    <table class="table table-hover">
        <tr>
            <th>
                ID Servicio
            </th>
            <th>
                Servicio
            </th>
            <th>
                Cantidad
            </th>
            <th>
                Precio
            </th>
            <th>
                SubTotal
            </th>
        </tr>
        {foreach $detalle as $d}
        <tr>
            <td>
                {$d.id_d}
            </td>
            <td>
                {$d.razon_social}
            </td>
            <td>
                {$d.fecha}
            </td>
            <td>
                {$d.id_servicio}
            </td>
            <td>
                {$d.precio}
            </td>
            <td>
                {$d.cantidad}
            </td>
            <td>
                {$d.servicio}
            </td>
            <td>
                {$d.total_servicio}
            </td>
            <td>
                {$d.total}
            </td>
        </tr>
        {/foreach}
    </table>
</page>