{include file="header.html"}
  <div id="contenido">
  	<section>
  		<h2>Asesor&iacutea Legal:</h2>
  		<p>
  			La asesor&iacutea legal es respaldada por nuestro equipo de abogados, el cual est&aacute integrado por profesionales con amplia experiencia en diversas &aacutereas del derecho. La especializaci&oacuten, experiencia y compromiso de los abogados no solo brindan al cliente una respuesta eficiente, si no que adem&aacutes en la asesor&iacutea legal se proponen soluciones adecuadas a sus necesidades.
  			Mostramos a continuaci&oacuten algunas especialidades de nuestro equipo de abogados:
  		</p>
  		<h2>Abogados corporativos.</h2>
  		<ul>
  			<li>Redacci&oacuten de actas de asambleas de accionistas</li>
  			<li>Contratos</li>
  			<li>Constituci&oacuten de sociedades</li>
  		</ul>
  		<h2>Abogado fiscal.</h2>
  		<ul>
  			<li>Asesor&iacutea y litigio fiscal y administrativo</li>
  			<li>Auditorias. Defensa contramultas de todo tipo. (Hacienda-Recaudaci&oacuten-Etc.)</li>
  			<li>Revisiones Juicios de nulidad y de revocaci&oacuten. Embargos.</li>
  		</ul>
  		<h2>Abogados laborales.</h2>
  		<ul>
  			<li>Atenci&oacuten a citas de inspector&iacutea del trabajo</li>
  			<li>Elaboraci&oacuten de reglamento interior de trabajo.</li>
  			<li>Defensa y litigio de demandas laborales.</li>
  			<li>Rescisiones de trabajadores. Despidos.</li>
  			<li>Huelgas Auditorias Laborales.</li>
  			<li>Elaboraci&oacuten de Actas Administrativas.</li>
  			<li>Paros Laborales.</li>
  			<li>Sindicatos. Asesor&iacutea en general.</li>
  		</ul>
  		<h2>Derecho mercantil y civil.</h2>
  		<ul>
  			<li>Asesor&iacutea y Elaboraci&oacuten de todo tipo de contratos</li>
  			<li>Demandas Mercantiles y Civiles</li>
  			<li>Defensa Mercantiles y Civiles</li>
  			<li>Medios preparatorios y juicios en general</li>
  			<li>Apelaciones, Amparos</li>
  			<li>Todo tipo de juicios Hipotecarios</li>
  			<li>
  				Desahucio, Testamentarios, Divorcios, Pensiones Alimenticias, Herencias, etc.
  				Propiedad intelectual.
  			</li>
  			<li>Registro de marcas y patentes</li>
  		</ul>
  		<h2>Servicios legales diversos.</h2>
  		<ul>
  			<li>Tr&aacutemites ante notarios, registro p&uacuteblico de la propiedad, gobernaci&oacuten y con todo tipo de autoridades y dependencias</li>
  			<li>Tramitaci&oacuten de permisos y licencias</li>
  			<li>Recuperaci&oacuten de adeudos y cartera vencida de su empresa</li>
  		</ul>
  	</section>
  	<aside></aside>
  </div>
{include file="footer.html"}
