{include file="header.html"}
	<div id="wrapper">
		<div id="contenido">
			<section>
				<h2>Vacantes : Permanentes</h2>
				<img src="images/uploaded/vacantes.jpg">
				<h3>Lista de puestos disponibles.</h3>
				<ul>
					<li>Contador P&uacuteblico.</li>
					<li>Auditor.</li>
					<li>Analista contable.</li>
				</ul>
				<h3>Requisitos</h3>
				<ul>
					<li>Titulo Profesional Universitario</li>
					<li>Reciente actualizaci&oacuten de temas contables y fiscales (Certificados de Participaci&oacuten)</li>
					<li>Especialidad: Contador p&uacuteblico experimentado en temas "Fiscales y de Auditoria".</li>
					<li>Sexo: Indistinto</li>
					<li>Edad: 35 a 55 años</li>
					<li>Experiencia m&iacutenima: Últimos 5 años ininterrumpidos</li>
					<li>Desarrollo profesional en: Firmas de despachos contables.</li>
					<li>Ubicaci&oacuten de vivienda: Zona sur de la ciudad de M&eacutexico</li>
					<li>Escolaridad: Lic. Contabilidad o a fin Pasante, Titulado o Proceso de Titulaci&oacuten.</li>
					<li>Experiencia m&iacutenima de 1 año, se toma en cuenta Servicio Social en despacho contable.Conocimientos b&aacutesicos en contabilidad en general, proceso de cuentas por pagar y almac&eacuten.</li>
					<li>Manejo preferente JD Edwards o alg&uacuten RP</li>
				</ul>
				<h2>Lista de puestos disponibles.</h2>
				<img src="images/uploaded/vacante1.jpg" width="50%">
				<ul>
					<li>Contador P&uacuteblico.</li>
					<li>Auditor.</li>
					<li>Analista contable.</li>
				</ul>
				<h2>Postulate:</h2>
				<img src="images/uploaded/postulate1.jpg" width="50%">
				<ul>
					<li>Nombre.</li>
					<li>E-mail.</li>
					<li>Telefonos.</li>
					<li>Perfil.</li>
					<li>Adjuntar CV.</li>
					<li>Comentarios </li>
					<li>Boton enviar.</li>
				</ul>
				<h2>Pasantes:</h2>
				<ul>
					<li>Estudiar algunas de las carrera: Contabilidad </li>
					<li>Estar en proceso de de titulaci&oacuten</li>
					<li>Sexo: Indistinto</li>
				</ul>
			</section>
			<aside></aside>
		</div>
	</div>
{include file="footer.html"}
