{include file="header.html"}
	<div id="wrapper">
		<div id="contenido">
			<section>
				<h2>Contabilidad</h2>
				<h3>TODA TU CONTABILIDAD EN UNA SOLA PLATAFORMA</h3>
				<ul>
					<li>Emite y env&iacutea facturas electr&oacutenicas (CFDI) y PDF de forma ilimitada y con un solo clic. </li>
					<li>Conoce tu estatus ante el SAT y monitorea tu buz&oacuten tributario. </li>
					<li>Clasifica tus ingresos y gastos seg&uacuten rubro para control de tu flujo. </li>
					<li>Personaliza tus facturas con el logo de tu empresa. </li>
					<li>Visualiza tus ingresos y tus gastos para conocer tu situaci&oacuten financiera. </li>
					<li>Muchas m&aacutes funcionalidades. Solicita tu demo gratis.</li>
					<li>Tus impuestos al d&iacutea, cumplimiento de tus obligaciones y asesor&iacutea fiscal.</li>
					<li>Facturaci&oacuten electr&oacutenica ilimitada, clasificada y en un solo sitio.</li>
				</ul>
			</section>
			<aside></aside>
		</div>
	</div>
{include file="footer.html"}
