{include file="header.html"}
	<div id="wrapper">
		<div id="contenido">
			<section>
				<h2>CONTACTO</h2>
				<p>
					<h3>Cont&aacutectenos</h3> CONOZCA LO MEJOR EN SERVICIOS INTEGRALES DE CONTABILIDAD EN GUANAJUATO! En Contadores CPWEB de Celaya – Guanajuato estamos para atender todas sus necesidades en el &aacuterea fiscal, de auditor&iacutea y contable en M&eacutexico. Cont&aacutectenos
					con gusto atenderemos todas sus preguntas e inquietudes:
					<h3>SOLICITAR INFORMACIÓN</h3> * requerido
					<br> NOMBRE Y APELLIDO: *
					</br>
					________________________________________________________________
					</br>
					CORREO ELECTRÓNICO: *
					</br>
					_________________________________________________________________
					</br>
					TEL&EacuteFONO:
					</br>
					_________________________________________________________________
					</br>

					Por favor seleccione opci&oacuten:
					</br>
					<ul>
						<li>Contabilidad</li>
						<li>Auditor&iacutea</li>
						<li>Servicios Fiscales</li>
						<li>Consultor&iacutea</li>
						<li>OUTSOURCING CONTABLE ADMINISTRATIVO</li>
						<li>Asesoria Corporativa</li>
					</ul>
					<h2>Mensaje:</h2>
				</p>
			</section>
			<aside></aside>
		</div>
	</div>
  {include file="footer.html"}
