<!-- 2016-09-29 -->
<!doctype HTML>
<html>
  <head>
  	<meta charset="utf-8">
  	<title>CPWEB y Asociados</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script><!-- 2016-10-13 -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
  	<script src="js/menu.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  	<link rel="stylesheet" href="css/menu.css">
  	<link rel="stylesheet" href="css/fonts.css">
  </head>
  <body>
    <header>
      <div class="menu_bar">
        <a href="javascript:void(0)" class="bt-menu"><span class="icon-menu"></span> Menu </a>
      </div>

      <nav>
        <ul>
          <li><a href="index.php"><span class="icon-home"></span>Inicio</a></li>
          <li class="submenu">
            <a href="#"><span class="icon-folder-open"></span> Catálogo <span class="caret"></span></a>
            <ul class="children">
              <li><a href="estados.php"> Estados <span class="icon-accessibility"></span></a></li>
              <li><a href="clientes.php"> Clientes <span class="icon-accessibility"></span></a></li>
              <li><a href="tipos.php"> Tipos de Clientes <span class="icon-accessibility"></span></a></li>
            </ul>
          </li>
          <li class="submenu">
            <a href="#"><span class="icon-blog"></span> Administración <span class="caret"></span></a>
            <ul class="children">
              <li><a href="roles.php"> Roles <span class="icon-accessibility"></span></a></li>
              <li><a href="privilegios.php"> Prigilegios <span class="icon-accessibility"></span></a></li>
              <li><a href="usuarios.php"> Usuarios <span class="icon-accessibility"></span></a></li>
              <li><a href="usuario_rol.php"> Usuarios y Roles <span class="icon-accessibility"></span></a></li>
            </ul>
          </li>
          <li class="submenu">
            <a href="#"><span class="icon-earth"></span> Servicios <span class="caret"></span></a>
            <ul class="children">
              <li><a href="asesoria_legal.php"> Asesoría <span class="icon-accessibility"></span></a></li>
              <li><a href="auditoria.php"> Auditoría <span class="icon-accessibility"></span></a></li>
              <li><a href="contabilidad.php"> Contabilidad <span class="icon-accessibility"></span></a></li>
              <li><a href="nomina.php"> Nomina <span class="icon-accessibility"></span></a></li>
              <li><a href="planeacion_financiera.php"> Planeación Financiera <span class="icon-accessibility"></span></a></li>
              <li><a href="bolsa_trabajo.php"> Bolsa de Trabajo <span class="icon-accessibility"></span></a></li>
            </ul>
          </li>
          <li class="submenu">
            <a href="#"><span class="icon-office"></span> Conócenos <span class="caret"></span></a>
            <ul class="children">
              <li><a href="quienes_somos.php"> Quiénes Somos <span class="icon-accessibility"></span></a></li>
              <li><a href="contacto.php"> Contacto <span class="icon-accessibility"></span></a></li>
              <li><a href="alianzas.php"> Alianzas <span class="icon-accessibility"></span></a></li>
            </ul>
          </li>
          <li><a href="registro.php"><span class="icon-star-empty"></span> Registro </a></li>
          <li><a href="index.php"><span class="icon-enter"></span> Login </a></li>
        </ul>
      </nav>
    </header>
