{include file="header.html"}
<form class="" action="login.php?accion=login" method="post">
  <h1>Login</h1>
  <div class="form-group">
    <label>Email</label>
    <input class="form-control" name="email" required>
  </div>
  <div class="form-group">
    <label>Contraseña</label>
    <input type="password" class="form-control" name="contrasena" required>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-default">Ingresar</button>
    <a href="forgot.php" class="btn btn-link">Olvidé mi contraseña</a>
  </div>
</form>
{include file="footer.html"}
