{include file="header.html"}
	<div id="wrapper">
		<div id="contenido">
			<section>
				<h2>Planeaci&oacuten Financiera</h2>
				<p>
					La planeaci&oacuten financiera, que busca mantener el equilibrio econ&oacutemico en todos los niveles de la empresa, est&aacute presente tanto en el &aacuterea operativa como en la estrat&eacutegica. La estructura operativa se desarrolla en funci&oacuten de su implicaci&oacuten con la estrategia.
					El &aacuterea estrat&eacutegica est&aacute formada por la mercadotecnia (marketing) y por las finanzas. La mercadotecnia es la encargada de formular las alternativas estrat&eacutegicas del negocio, mientras que el sector de finanzas cuantifica las estrategias propuestas por la mercadotecnia.
					En cambio, la divisi&oacuten operativa est&aacute formada por sectores como la producci&oacuten, la administraci&oacuten, la log&iacutestica y la oficina comercial. Todas estas divisiones se encargan de concretar las pol&iacuteticas del plan estrat&eacutegico.
					La planeaci&oacuten financiera, por lo tanto, se encarga de aportar una estructura acorde a la base de negocio de la empresa, a trav&eacutes de la implementaci&oacuten de una contabilidad anal&iacutetica y del dise&ntildeo de los estados financiero&iacutes.
					Gracias a la planeaci&oacuten financiera, los directivos pueden cuantificar las propuestas elaboradas por mercadotecnia y evaluar sus costos.
					En otras palabras, la planeaci&oacuten financiera define el rumbo que tiene que seguir una organizaci&oacuten para alcanzar sus objetivos estrat&eacutegicos mediante un accionar arm&oacutenico de todos sus integrantes y funciones. Su implantaci&oacuten es importante tanto a nivel interno como para los terceros que necesitan tomar decisiones vinculadas a la empresa (como la concesi&oacuten de cr&eacuteditos, y la emisi&oacuten o suscripci&oacuten de acciones).
					Es necesario aclarar que la planeaci&oacuten financiera no s&oacutelo puede hacer referencia a ciertas proyecciones financieras que arroje los estados financieros de resultados y balances de un determinado indicador, sino que tambi&eacuten comprende una serie de actividades que se desarrollan a diversos niveles: nivel estrat&eacutegico, nivel funcional y nivel operativo de una empresa.
				</p>
			</section>
			<aside></aside>
		</div>
	</div>
  {include file="footer.html"}
