{include file="header.html"}
<div id="wrapper">
    <div id="contenido">
        <section>
            <h2> Misi&oacuten </h2>
            <p>
                Ofrecer a nuestros clientes, servicios contables y administrativos de primer nivel, utilizando toda nuestra infraestructura administrativa y talento humano, en busca del retorno del capital invertido a cada uno de sus socios.
            </p>
            <h2> Visi&oacuten </h2>
            <p>
                Consolidarse como la mejor firma de contadores p&uacuteblicos certificados y l&iacutederes en los servicios profesionales a trav&eacutes del desarrollo integral de nuestros miembros altamente calificados (contadores con Maestr&iacuteas, Doctorados) tanto
                a nivel estatal, nacional e internacional.
            </p>
            <h2> Nuestros valores son: </h2>
            <ul>
                <li>
                    <b>Alto desempe&ntildeo:</b> nuestro est&aacutendar de calidad, velocidad, trabajo, aprendizaje, trato al cliente, asesor&iacuteas, planeaci&oacuten, coaching y conferencias son hechos con nuestro mejor esfuerzo y de manera consciente
                    en b&uacutesqueda de superarnos constantemente.</li>
                <li>
                    <strong>Competitividad:</strong> entre nosotros mismos creamos un equipo de apoyo completo; as&eacute mismo con nuestros clientes ofrecemos servicios, asesor&eacutea y soluciones que implican una capacitaci&oacuten, estudio, debate,
                    etc.
                </li>
                <li>
                    <b>Confidencialidad:</b> la informaci&oacuten procesada y generada es propiedad total del cliente, as&eacute mismo sus estrategias, contactos, clientes y proveedores. Dicha informaci&oacuten no es utilizada para ning&uacuten fin m&aacutes
                    que el cumplir con las obligaciones fiscales e informar a nuestro cliente.
                </li>
                <li>
                    <b>&Eacutetica:</b> con nuestras propuestas de planeaci&oacuten, éstas no fomentar&aacuten la corrupci&oacuten y defraudaci&oacuten fiscal.
                </li>
            </ul>
            <h2> Nuestras pol&iacuteticas de calidad </h2>
            <p>
                Brindamos servicios profesionales de manera integral en diversas &aacutereas como: Fiscal, Auditor&eacutea, Contabilidad, Administraci&oacuten de N&oacuteminas, Legal, Calidad, Recursos Humanos, Sistemas y Capacitaci&oacuten, con oportunidad y atenci&oacuten
                personalizada para satisfacer las necesidades de nuestros clientes.
            </p>
            <h2> Objetivos de nuestra empresa </h2>
            <p>
                <h3>Objetivo general:</h3>
                <ul>
                    <li>
                        Apoyar a todas las empresas que soliciten nuestros servicios, concientiz&aacutendolas de que la organizaci&oacuten, planeaci&oacuten, control y adecuado registro de las operaciones financieras de su empresa, conjuntamente con la planeaci&oacuten fiscal,
                        son en la actualidad herramientas vitales para que subsistan como negocio en marcha, en el entorno econ&oacutemico y fiscal actual.
                    </li>
                </ul>
                <h3>Objetivos espec&eacuteficos:</h3>
                <ul>
                    <li>
                        Proporcionar servicios integrales de calidad que beneficien econ&oacutemicamente a nuestros clientes y les otorguen seguridad y certeza en el adecuado pago de sus impuestos.
                    </li>
                    <li>
                        Poner nuestros servicios siempre al alcance de todo tipo de empresas.
                    </li>
                </ul>
            </p>
        </section>
        <aside></aside>
    </div>
</div>
{include file="footer.html"}
