{include file="header.html"} {*2016-10-03*}
<form class="formulario" action="usuario_rol.php?accion={if isset($id_usuario) && isset($id_rol)}guardar{else}alta{/if}" method="post">{*2016-10-06*}
  {if isset($id_usuario) && isset($id_rol)} {*2016-10-06*}
    <h1>Edición de Usuarios - Roles</h1>
  {else}
    <h1>Nuevo Usuarios - Roles</h1>
  {/if}
  <div class="desc">
      <label>Usuarios</label>
      <input class="input" name="id_usuario" required
        {if isset($id_usuario) && isset($id_rol)} {*2016-10-06*}
          value="{$usuario.id_usuario}"
        {/if}>
      <label>Roles</label>
      <input class="input" name="estado" required
        {if isset($id_estado)} {*2016-10-06*}
          value="{$usuario.id_rol}"
        {/if}>
        {if isset($id_usuario) && isset($id_rol)} <!-- 2016-10-06 -->
          <input type="hidden" name="id_usuario" value="{$id_usuario}">
          <input type="hidden" name="id_rol" value="{$id_rol}">
        {/if}
        <br>
      <input class="button" type="submit" value="Enviar">
  </div>
  <br>
</form>
{include file="footer.html"} {*2016-10-03*}
